@media screen and (max-width: 600px) {
    .desktopWrapper {
        display: none;
        visibility: hidden;
    }
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.desktopWrapper {
}
body {
    background-color: #121212;
}

nav {
    width: 100%;
    background-color: #202020;
    height: 100px;
    color: white;
    line-height: 50px;
}

nav .navItems {
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav .navItems a {
    color: white;
    text-decoration: none;
    padding-right: 2vw;
    padding-left: 2vw;
    font-size: 26px;
}

h2 {
    text-align: center;
    font-size: 45px;
    color: white;
    padding-top: 50px;
}